.forgotpass-page {
  background: linear-gradient(to bottom, rgb(188, 225, 188) 70%, green 100%);
  padding-bottom: 140px;
}

.forgotpass-header {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-left: 300px;
}

.forgotpass-header img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.forgotpass-h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.chart {
  float: left;
  margin-right: 20px;
}

.chart img {
  width: 600px;
  height: auto;
  margin-left: 150px;
}

.forgotpass-h2 {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 30px;
}

.forgotpass-container {
  display: flex;
  justify-content: flex-end;
  height: 50vh;
  align-items: center;
}

.forgotpass-box {
  background-color: rgb(194, 194, 194);
  padding: 40px;
  border-radius: 15px;
  margin-right: 200px;
  width: 300px;
}

.forgotpass-input input {
  position: relative;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.forgotpass-box button {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  border-radius: 15px;
  background-color: rgb(188, 225, 188);
}

.footer {
  background-color: lightgray;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer .copyright {
  flex-grow: 1;
  margin-right: 20px;
}

.footer .images img {
  width: 40px;
  margin-right: 5px;
}
